<% include header.html %>

<style>
    input{margin-bottom:10px;}
    </style>

<div class="container">
    <h1> Register </h1>
    <form method="post">
        <input name="name" placeholder="Name" autofocus class="form-control"><br/>
        <input name="email" placeholder="Email" class="form-control"><br/>
        <input name="password" placeholder="Password" type="password" class="form-control"><br/>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>

</div>

<% include footer.html %>